div#nav, nav{
  width: 95%;
  margin-left: 2.5%;
}

div#header, header{
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  text-align: center;
}

div#body, body{
  width: 100%;
}
div#section, section{
  width: 100%;
  display: inline-flex;
}
div#aside, aside{
  padding-left: 13%;
}

div#main, main{
  width: 100%;
  height: 100%;
}

div#center, center{
  width: 95%;
  height: 800px;
  margin: 0 auto;
  position: relative;
  background-image: url("destiny.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

div#h1, h1{
  font-color: black;
  text-align: center;
}

div#p,p{
  font-color: #ff0300;
  font-size: 20px;
  text-align: center;
}